<head>
    <meta charset="UTF-8">
    
    <% if (pageType === 'home') { %>
        <title>静水深流 | Flash收藏站</title>
        <meta name="keywords" content="静水深流,Flash游戏收藏站,Flash收藏站,在线小游戏,Flash游戏,Flash游戏汉化版">
        <meta name="description" content="欢迎来到我的个人Flash收藏空间！所以游戏都是人工汉化，支持一键切换原版和汉化版，你也可以直接下载喜欢的游戏。部分游戏还附有攻略，希望你玩得高兴！">
        <link rel="stylesheet" href="/api/index/index.css">
        <script type="text/javascript" src="/api/index/index-count.js"></script>
    <% } else if (pageType === 'game' && typeof game !== 'undefined') { %>
        <title><%= game.title %></title>
        <meta name="keywords" content="静水深流,Flash游戏收藏站,在线小游戏,Flash游戏,Flash游戏汉化版,<%= game.title %>,<%= game.title %>汉化版">
        <link rel="stylesheet" href="/api/play/play.css">
        <script src="/api/ruffle/ruffle.js"></script>
        <script src="/api/play/zan.js"></script>
        <script type="text/javascript" src="/api/index/index-count.js"></script>
    <% } %>
    <link rel="stylesheet" href="/api/icon/css/all.min.css">
    <link rel="icon" href="/api/icon/H.svg">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Ethaniel">
    <meta name="google-site-verification" content="mD2l3_aOmwjXLEvIAyB7bLGNGBnq7u88vPoK2oNuy3c" />
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-9C3EYEPPQ1');
    </script>
    <script defer src="https://umami.hcyhub.com/script.js" data-website-id="02935f85-2c08-4a8b-ac40-ce0e30d6dab1"></script>
</head>