.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: oklch(0.95 0.025 112);
    color: oklch(0.55 0.12 112);
    font-size: 24px;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);  
    z-index: 999;
    text-align: inherit;
    padding: 0;
    text-decoration: none !important;
}
.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    height: 64px;
    padding: 0 32px;
}

header .brand-logo .logo-img {
    height: 45px;
    vertical-align: middle;
    padding-bottom: 6px;
    text-decoration: none !important;
}
.brand-logo a {
    text-decoration: none !important;
    color: inherit !important;
}
.logo-span {
    text-decoration: none !important;
    color: oklch(0.55 0.12 112) !important;
}